<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>SKFHRinance ChatBot</title>
	<link rel="stylesheet" href="dist/css/font-awesome.min.css">
	<link rel="stylesheet" href="dist/css/star.css" />
	<link href="css/lib/bootstrap.min.css" rel="stylesheet">
	<link href="css/lib/slick.css" rel="stylesheet">
	<link href="css/lib/slick-theme.css" rel="stylesheet">
	<link href="css/skchat.min.css" rel="stylesheet">

	<link rel="stylesheet" href="dist/css/swiper.min.css">

	<!-- Angular JS 1.7.8 -->
	<script type="text/javascript" src="dist/js/angular.min.js"></script>
	<script type="text/javascript" src="dist/js/angular-route.min.js"></script>
	<script type="text/javascript" src="dist/js/angular-animate.js"></script>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="dist/js/jquery.min.js"></script>
	<script src="dist/js/bootstrap.min.js"></script>
	<script src="js/lib/slick.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript" src=" dist/js/linkify.min.js"></script>
	<script type="text/javascript" src=" dist/js/linkify-jquery.min.js"></script>
	<!-- Swiper JS -->
	<script src=" dist/js/swiper.min.js"></script>
	<!-- Chart JS -->
	<script src=" dist/js/chart.bundle.min.js"></script>

	<script>
		$(document).ready(function () {
			$('.slick-inner').slick({
				slidesToShow: 1,
				arrows: true,
				dots: true,
				centerMode: true,
				centerPadding: '30px',
				autoplay: true,
				autoplaySpeed: 5000,
			});



		})
	</script>

</head>

<body ng-app="chatBotApp">
	<!-- chat bot start -->

	<div class="chat-box">
		<div class="forscoll">
			<div class="iframe-header">

				<div class="slick-inner">
					<div class="carousel-item active">
						<div class="inner-card">
							<a href="javascript:;"
								ng-click="userMessage('apply for sme Loan', 'null', 'Apply for SME loan')">
								<img src="images/bots_banner01.png" alt="Los Angeles">
							</a>
						</div>
					</div>
					<div class="carousel-item">
						<div class="inner-card">
							<a href="javascript:;" ng-click="userMessage('home Loan', 'null', 'Home loan')">
								<img src="images/bots_banner02.png" alt="Los Angeles">
							</a>
						</div>
					</div>
					<div class="carousel-item">
						<div class="inner-card">
							<a href="javascript:;" ng-click="userMessage('fixed deposit', 'null', 'fixed deposit')">
								<img src="images/bots_banner03.png" alt="Los Angeles">
							</a>
						</div>
					</div>
				</div>



			</div>

			<ng-view> </ng-view>
		</div>
		<div class="help-overlay ">
			<div class="overlay-innerblock">
				<h5>We gather user data for better user experience and to showcase customize products. Please click "I
					Agree" to agree. </h5>
				<button class="getstarted"> I Agree </button>
			</div>
		</div>
		<div class="login-overlay">
		</div>
		<div class="login-popup">
			<!-- 	<span class="close-popup"><img src="assets/images/icons/cross-round.png" ></span>  -->
			<h6>Authtentication Required </h6>
			<p>Please login to continue. </p>
			<div class="text-center">
				<a href="{{loginURL}}" class="loginbtn show" target="_blank">Login</a>



				<a href="javascript:void(0)" class="doneLogin " ng-click="ClearScreen()">Done</a>
			</div>
		</div>
		<div class="chat-footer">
			<div class="footer-list">
				<div class="row">
					<div class="col-1">
						<div class="menu-sel">
							<a href="javascript:;" class="menu-option"></a>
						</div>
						<!--.menu-sel-->
					</div>
					<!--.col-2-->
					<div class="col-sm-10 col-lg-10 col-10 pr-0">
						<div class="input-section">


							<input type="{{showtextarea}}" placeholder="Start typing..." id="input_text"
								class="input_text" ng-model="userInput" ng-focus="focused = true" autocomplete="off"
								ng-disabled="loadDisabled" ng-class="{hideinput : inputdisabld  }">
						</div>
						<!--.input-section-->
					</div>
					<!--.col-8-->
					<div class="col-1 p-0">
						<div class="chat-in-footer text-right">
							<!-- <span class="record"><img src="assets/images/icons/mic.png" ng-click="record()" ></span>
							
							<button class="btn btn-danger" ng-click="userMessage(userInput)" ng-disabled="disableButton || !userInput">Send</button> -->
							<!-- <span class="record" ng-show="!userInput" id="recordingIcon"><img src="assets/images/icons/Icon-mic.png" ng-click="record()"></span> -->
							<a href="javascript:void(0)" ng-show="!userInput"> <span class="record" id="recordingIcon">
									<img src=" assets/images/icons/microphone.svg" alt="microphone icon" ng-click="record()" />
								</span> <span id="recordingAnimateIcon"> <img style="height: 20px;padding-right: 5px;"
										src=" assets/images/icons/microphone-icon.gif" alt=""
										class="ft-icon microphone-icon" ng-click="record()" />
								</span>
							</a>

							<span class="record send-msg" ng-click="userMessage(userInput)" ng-show="userInput"
								ng-disabled="disableButton || !userInput"><img
									src=" assets/images/icons/Icon-Send.png"></span>

						</div>
						<!--.chat-in-footer text-right-->
					</div>
					<!--.col-2-->
				</div>
				<!--.row-->
			</div>
			<!--.footer-list-->
		</div>
		<!--.chat-footer-->
	</div>
	<!--.chat-box-->
	<!-- chat bot end -->

	<!-- <script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script> -->


	<script src="dist/app/app.js"></script>
	<script src=" dist/app/constants.js"></script>
	<script src=" dist/app/values.js"></script>
	<script src=" dist/app/common.js"></script>
	<script src=" dist/app/routes.js"></script>
	<script src=" dist/app/controllers.js"></script>
	<script src=" dist/app/directives.js"></script>
	<script src=" dist/app/services.js"></script>
	<script src=" dist/app/chatConfig.js"></script>
	<script type="text/javascript" src=" dist/js/aes.js"></script>
	<script type="text/javascript" src=" dist/js/pbkdf2.js"></script>
	<script type="text/javascript" src=" dist/js/enc-base64.js"></script>
	<script type="text/javascript" src=" dist/js/enc-base64-min.js"></script>
	<script type="text/javascript" src=" dist/js/CriptoLib.js"></script>
	<script type="text/javascript">
		console.log("load last")
	</script>
</body>